<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%- title %></title>
    <meta name="description" content="<%- description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="/master/static/apple-touch-icon.png">
    <link rel="icon" href="/master/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/master/static/css/main.css">
    <style id="css"><%= css %></style>
  </head>
  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="app"><%= body %></div>
    <script src="/master/static/app.js"></script>
  </body>
</html>
