/* flexboxgrid CSS */
@import "flexboxgrid.min.css";

/* Google Roboto font */
@import "fonts/roboto/style.css";

/* material design icons */
@import "font-icons/material-icons/style.css";

/* custom font icons */
@import "font-icons/material-ui-icons/style.css";

a {
  color: #ff4081;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html {
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul li {
  list-style: none;
}

ul {
  padding: 0;
}

body {
  font-size: 13px;
  line-height: 20px;
}

.box {
  padding-bottom: 5px;
  margin-bottom: 1rem;
}

.hide {
  display: none;
}
